  
#wrapper {
    width: 970px;
    height: 400px;
    margin: 0px auto;
    background-color: chocolate;
    border:4px solid black;
}
#details {
    margin: 3px 170px;
    padding: 10px 20px;
    border: 1px solid black;
}
#details div {
    width: 500px;
    border: 1px solid black;
}
img {
    /* width: 200px; */
    margin-left: 20px;
    height: 130px;
}